.reset-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #36393f;
}

.left-container {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 40%;
    text-align: center;
}

.right-container {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 2rem;
}

.logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 90px;
    margin-bottom: 25px;
}

h1 {
    margin-bottom: 12px;
    font-size: 1.7rem;
    color: #7289da;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.reset-password-container {
    height: 70%;
    background: #36393f;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 2.5rem 3rem;
    width: 100%;
    max-width: 350px;
    text-align: center;
    position: relative;
}

.reset-password-container h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #7289da;
    text-transform: uppercase;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 0.8rem 1.2rem 0.8rem 0.8rem;
    background: inherit;
    border: 1px solid #7289da;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    color: #dcddde;
    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;
}

.form-control:focus {
    border-color: #5865f2;
    box-shadow: 0 0 5px rgba(88, 101, 242, 0.7);
}

.form-label {
    position: absolute;
    top: -0.6rem;
    left: 1rem;
    background: #36393f;
    padding: 0 0.4rem;
    font-size: 0.85rem;
    color: #7289da;
    transition: all 0.3s ease;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
    color: #99aab5;
}

.reset-button {
    background: #7289da;
    color: #ffffff;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background 0.3s ease;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.reset-button:hover {
    background: #5865f2;
}

::placeholder {
    color: #a3a7b2;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-bottom: 10px;
    font-size: 14px;
}
